.main-content-suscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responseTo($bpDesktop) {
    position: fixed;
    bottom: 0;
    min-width: 545px;;
  }
}

.suscribe-newsletter {
  flex: 4 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 2.25rem 1.2rem;

  @include responseTo($bpTablet) {
    padding: 2rem 7rem 4.8rem 5rem;
  }

  @include responseTo($bpDesktop) {
    padding: 2.25rem 7rem 4.8rem 5rem;
  }
}

.suscribe-title {
  margin-bottom: .5rem;
}

.suscribe-input {
  margin-top: .5rem;
  height: 2rem;
}

.main-content-suscribe :not(.suscribe-vertical, .suscribe-input) {
  background-color: $smocky-black;
  color: $white;
}

.suscribe-vertical {
  writing-mode: vertical-lr;
  padding: .5rem;
  padding-left: .75rem;
  margin-top: .5rem;

  @include responseTo($bpTablet) {
    min-width: 3rem;
  }
}